.t_main {
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}
.heading {
   color: rgb(5 118 170 / 96%);
}

.table_container {
   outline: 2px solid rgb(5 118 170 / 62%);
   margin-top: 10px;
   border-collapse: collapse;
   width: 80%;
   text-align: left;
}

.t_head th {
   background-color: rgb(5 118 170 / 96%);
   border: 2px solid rgb(218 215 215 / 36%);
   min-width: 130px;
   color: white;
   padding-left: 10px;
   height: 30px;
}

.t_body td {
   background-color: white;
   border: 1px solid rgb(218 215 215 / 36%);
   padding-left: 10px;
   text-transform: capitalize;
}

.t_body tr:first-child td {
   background-color: rgb(5 118 170 / 10%);
}

.f_name {
   font-weight: bolder;
}
